.service {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5rem 6rem;
  font-family: var(--font-family);
  gap: 5rem;
}

.service-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 0.7;
}

.check {
  color: var(--color-dark);
  font-size: 3.25rem;
  box-shadow: 5px 5px 10px 0px #888888;
  border-radius: 360px;
  border: 2px solid black;
  margin-bottom: 0.75rem;
}

.service-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.service-data h1 {
  font-size: 2.75rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
  color: var(--color-dark);
}

.service-data p {
  font-size: 1.25rem;
  line-break: 1.25rem;
  margin: 0;
  color: var(--color-light);
}
.service-image {
  display: flex;
  flex: 0.25;
}

.service-image img {
  width: 600px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 10px 10px 5px 0px #888888;
}
