.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    padding: 0rem 2rem 0rem 1.5rem;
}

.navbar-logo img
{
    width: 125px;
    height: 125px;
}

.navbar-links
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50px;
    background: #eeeeee;
    border-radius: 50px;  
    border: 0.2rem solid var(--color-dark);
}

nav a
{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: var(--color-dark);
    cursor: pointer;
    padding: 0 30px;

    z-index: 1;
}
nav a:hover
{
    color: #eeeeee;
    transition: all 0.5s ease-in-out;
}

nav span{
    position: absolute;
    top:0;
    left:0;
    display: none;
    width: 20%;
    height: 100%;
    background: var(--color-dark);
    border-radius: 50px;
    color: #eeeeee;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}

nav a:nth-child(1):hover~span{
    left: -1px;
    display: block;
}

nav a:nth-child(2):hover~span{
    left: 115px;
    display: block;
}
nav a:nth-child(3):hover~span{
    left: 230px;
    display: block;
}
nav a:nth-child(4):hover~span{
    left: 340px;
    display: block;
}
nav a:nth-child(5):hover~span{
    left: 460px;
    display: block;
}
.navbar-button button
{
    padding: 1rem 2rem;
    font-size: 1rem;
    
}